{% extends "layouts/email/default.twig" %}


{% block content %}
    <td class="content-wrap">
        <table width="100%" cellpadding="0" cellspacing="0">
            Dear <strong>{{ data.first_name }} {{ data.last_name }}</strong>, <br>
            <tr>
                <td class="content-block">
                    Please confirm your email address by clicking the link below.
                </td>
            </tr>
            <tr>
                <td class="content-block">
                    We may need to send you critical information about our service and it is important that we have an accurate email address.
                </td>
            </tr>
            <tr>
                <td class="content-block">
                    <a href="#" class="btn-primary">Confirm email address</a>
                </td>
            </tr>
            <tr>
                <td class="content-block">
                    &mdash; Satkhira Consulting Firm Limited.
                </td>
            </tr>
        </table>
    </td>

{% endblock %}
